<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>watchF1</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Страница не найдена.</p>
        </LayoutView>
    </NotFound>
</Router>