header, footer {
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    line-height: 2.5em;
    background-color: #262626;
}
header {
    top: 0;
    border-bottom: thin solid #3a3a3a;
}
footer {
    bottom: 0;
    border-top: thin solid #3a3a3a;
}

.page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 3em .5em;
    overflow: auto;
}
@media screen and (orientation: portrait) and (min-width: 600px) {
    .page {
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media screen and (orientation: portrait) and (min-width: 768px) {
    .page {
        padding-left: 3em;
        padding-right: 3em;
    }
}
@media screen and (orientation: portrait) and (min-width: 992px) {
    .page {
        padding-left: 5em;
        padding-right: 5em;
    }
}
@media screen and (orientation: landscape) and (min-width: 992px) {
    .page {
        padding: 3.5em 6em;
    }
}
@media screen and (orientation: landscape) and (min-width: 1200px) {
    .page {
        padding-left: 12em;
        padding-right: 12em;
    }
}
@media screen and (orientation: landscape) and (min-width: 1440px) {
    .page {
        padding-left: 24em;
        padding-right: 24em;
    }
}

.live-alert {
    border: thin solid #DE363D;
    border-radius: .25em;
    padding: .5em;
    margin-bottom: 1em;
    line-height: 1.25em;
}
.live-alert strong {
    color: #FCEEEF;
    font-weight: bold;
}
.live-alert a {
    display: inline-block;
    width: 100%;
    text-align: right;
    text-decoration: none;
}
@media (hover: hover) {
    .live-alert a:hover {
        text-decoration: underline;
    }
}

header h1 {
    font-family: Righteous, sans-serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: .25em;
}
header a {
    text-decoration: none;
    color: #FCEEEF;
}
header span {
    color: #DE363D;
}

::deep nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::deep nav a {
    font-size: 1.25em;
    text-decoration: none;
    color: #FCEEEF;
    border-top: medium solid #262626;
}
::deep nav a:hover, ::deep nav a.active {
    border-top: medium solid #DE363D;
}

::deep #live {
    font-size: 2em;
}
@media screen and (min-width: 768px) {
    ::deep #live {
        font-size: 1.25em;
    }
}

::deep nav h3 {
    display: none;
}
@media screen and (min-width: 768px) {
    ::deep nav h3 {
        display: initial;
    }
}

::deep section {
    line-height: 1.25em;
}

::deep h2 {
    font-size: 1.25em;
}

::deep strong, ::deep a {
    color: #DE363D;
}

::deep img {
    width: 100%;
    max-width: 100%;
}

::deep hr {
    margin: 1em 0;
}

::deep img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
