@inherits LayoutComponentBase

<PageTitle>watchF1</PageTitle>

<header>
    <a href=""><h1>watch<span>F1</span></h1></a>
</header>
<div class="page">
    @Body
</div>
<footer>
    <NavMenu/>
</footer>
