@use "../components";

main {
  h2 {
    @extend %header;
  }
  a {
    @extend %button;
    line-height: 2.5em;
  }
}

#video {
  @media screen and (orientation: landscape) {
    width: 80%;
  }
}

#player {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

#player > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#links {
  @media screen and (orientation: landscape) {
    width: 18%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

hr {
  width: 100%;
}

#schedule {
  @extend %text;
  margin: 0 auto;
  @media screen and (orientation: landscape) {
    line-height: 0.85em;
  }

  h3 {
    font-size: larger;
  }

  ol {
    list-style-type: none;
    list-style-position: inside;
    @media screen and (orientation: landscape) {
      text-align: center;
    }
  }

  li > ol {
    list-style-type: disc;
    padding-inline-start: 1em;
    line-height: 1.15em;
    @media screen and (orientation: landscape) {
      text-align: initial;
    }
  }
}
