@page "/Account"
@using F1Project.Models
@inject IJSRuntime Js

<PageTitle>
    Аккаунт | watchF1
</PageTitle>

<main>
    <section class="account-info">
        <p>
            ID:
            <b @onclick="CopyId" class="user-id">@User.Id</b>
        </p>
        <p>
            Доступ к трансляции:
            <span class="true">бесплатный</span>
        </p>
    </section>
    <CascadingValue Value="User" Name="User">
        <Manual/>
    </CascadingValue>
</main>

@code {
    [CascadingParameter(Name = "User")]
    private User User { get; set; } = null!;
    
    private void CopyId()
    {
        Js.InvokeVoidAsync("clipboardCopy.copyText", User.Id);
    }
}