main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
    }
}

.account-info {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: .5em;
    border: thin solid #3a3a3a;
    padding: .5em;
}
@media screen and (orientation: landscape) {
    .account-info {
        width: 20%;
    }
}

.user-id {
    cursor: pointer;
}
.true {
    color: deepskyblue;
}
.false {
    color: #DE363D;
}

::deep a {
    text-decoration: underline dotted;
}
@media (hover: hover) {
    ::deep a:hover {
        text-decoration: underline;
    }
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
}
i + p {
    border-top: thin solid #3a3a3a;
    padding-top: .25em;
    line-height: 1.1em;
    font-size: .85em;
}
