@page "/Live"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@inject SettingService Settings

<div class="flex">
    @if (User.Subscribed > 0 || Settings.Get("test").Value == "true")
    {
        <VideoPlayer Live/>
        <LinkButtons Links="@(new [] {"BackupLive", "Support"})"/>
    }
    else
    {
        <h2>Оплатите доступ, чтобы смотреть трансляцию.</h2>
        <LinkButtons Links="@(new [] {"Manual"})"/>
    }
</div>
<hr>
<Schedule/>

@code
{
    [CascadingParameter(Name = "User")]
    private User User { get; set; } = null!;
}
