// Palette
  $background: #1a1a1a;
  $foreground: #262626;
  $foreground-lighter: #3a3a3a;
  $contrast: #FCEEEF;
  $accent: #DE363D;
  $accent-contrast: deepskyblue;

// Decor & alignment
  $border: thin solid $foreground-lighter;
  $selection-border: thin solid $accent;
  $small-padding: 5%;
  $medium-padding: 10%;
  $large-padding: 12%;
  $x_large-padding: 15%;
  $xx_large-padding: 20%;

// Fonts
  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik&display=swap');
  
  @mixin font($font, $generic) {
    font-family: $font, $generic;
    color: $contrast;
  }
  
  %main-font {
    @include font(Rubik, sans-serif);
  }
  
  %spec-font {
    @include font(Righteous, sans-serif);
  }
  
// Components
  %logo {
    @extend %spec-font;
    font-size: xx-large;
  }
  
  %header {
    @extend %main-font;
    font-size: x-large;
  }
  
  %video {
    @extend %main-font;
    font-size: larger;
    text-decoration: none;
  }
  
  %text {
    @extend %main-font;
    font-size: large;
  }
  
  %link {
    @extend %main-font;
    color: $accent;
  }
  
  %nav-link {
    @extend %main-font;
    text-decoration: none;
    font-size: larger;
    border-top: thin solid $foreground;

    &:hover, &.active {
      border-top: $selection-border;
    }
  }
  
  %button {
    @extend %main-font;
    text-align: center;
    text-decoration: none;
    background-color: $foreground;
    border: $border;
    border-radius: 1em;
    @media screen and (hover) {
      &:hover {
        border: $selection-border;
      }
    }
  }
  