@page "/"

<PageTitle>watchF1 - Главная</PageTitle>
<head>
    <link rel="stylesheet" href="css/index/index.css">
</head>

<section id="page__about">
    <h2>Добро пожаловать на сайт <span class="website_title">watchF1</span></h2> <br>
    <p>Данный сайт создан для вашего удобства просмотра и скачивания записей трансляций сессий Гран При Формулы 1.</p> <br>
    <p>В данный момент сайт работает в тестовом режиме, а в открытом доступе имеются только записи этапов <a href="videos">сезона 2022</a>.</p> <br>
    <p>С вашей поддержкой мы планируем улучшать и дорабатывать данный ресурс. По любым вопросам, связанным с работой сайта, а также для отправки ваших предложений по улучшениям вы можете обращаться в личные сообщения телеграмм (кнопка справа).</p> <br>
    <p>На данный момент и в бедующем доступ к данному ресурсу будет оставаться свободным, но мы будем рады любой, даже минимальной, материальной поддержки и можем гарантировать, что вырученные средства пойдут на стабильную работу и улучшение данного ресурса (кнопка справа).</p>
</section>
<section id="page__btns">
  <a href="https://t.me/watchF1" target="_blank">Поддержка</a>
  <br>
  <br>
  <a href="https://www.donationalerts.com/r/watchf1_" target="_blank">Пожертвование</a>
</section>
