@media (orientation: landscape) {
    .index {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.left {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
.right {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
@media (orientation: portrait) {
    .left {
        margin-bottom: 1em;
    }
}
@media (orientation: landscape) {
    .left {
        width: 70%;
        flex-flow: row wrap;
    }
    .right {
        padding-left: 1em;
        width: 30%;
    }

    ::deep .livestream-promotion, ::deep .support {
        flex: 0 0 100%;
    }
    ::deep article {
        flex: 1;
    }
}

ul {
    font-size: .85em;
    list-style: circle inside;
}
li {
    line-height: 1.2em;
}

::deep .livestream-promotion {
    background-image: url("https://example.com/storage/images/index-live.webp");
    background-position: center;
    background-size: cover;
}
::deep .livestream-promotion .content {
    margin-top: 30%;
    padding: .75em 0 .75em .75em;
    background-image: linear-gradient(to right, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0));
}
@media (orientation: landscape) {
    ::deep .livestream-promotion {
        background-position: unset;
    }
    ::deep .livestream-promotion .content {
        font-size: 1.2em;
    }
}
