section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

main {
    margin-bottom: 1em;
}

@media (orientation: landscape) {
    .flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main {
        width: 70%;
    }
    ::deep .link-buttons {
        width: 20%;
    }
}

.greeting {
    margin-bottom: 1.5em;
}
.greeting span {
    font-family: Righteous, sans-serif;
    letter-spacing: .1em;
}
.greeting span b {
    color: #DE363D;
}
