@page "/Legal"

<h2>Правовая информация</h2>
<ul>
    <li>
        <a href="storage/legal/terms_of_service.pdf" target="_blank">
            Пользовательское соглашение
        </a>
    </li>
    <li>
        <a href="storage/legal/privacy_policy.pdf" target="_blank">
            Политика конфиденциальности
        </a>
    </li>
</ul>
<h2>Контакты</h2>
<ul>
    <li>
        Telegram - <a href="https://t.me/watchF1" target="_blank">@@watchF1</a>
    </li>
    <li>
        Электронная почта - <a href="mailto:admin@example.com" target="_blank">admin@example.com</a>
    </li>
</ul>
<p>
    Владелец сайта - самозанятый ***REMOVED***. ИНН - ***REMOVED***
</p>
<div class="payments">
    <ul>
        <li>
            <img src="storage/legal/visa.svg" alt="Visa">
        </li>
        <li>
            <img src="storage/legal/mastercard.svg" alt="MasterCard">
        </li>
        <li>
            <img src="storage/legal/maestro.svg" alt="Maestro">
        </li>
        <li>
            <img src="storage/legal/mir.svg" alt="MIR">
        </li>
    </ul>
</div>

@code {
    
}