a {
  text-decoration: underline dotted;
}
@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

h2, h3, li {
  margin-bottom: .5em;
}

ul + p {
  font-size: .8em;
  font-style: italic;
  color: rgba(252, 238, 239, 0.5);
}