@page "/Live"
@using F1Project.Data
@layout AuthLayout
@inject NavigationManager Nav

<PageTitle>watchF1 - @SettingsService.GetSetting("liveTitle")</PageTitle>
<head>
    <link rel="stylesheet" href="css/live/live.css">
</head>

@if (IsConnected)
{
    if (IsAuthorized && User is not null)
    {
        if (User.Subscribed)
        {
            <LivePlayer/>
            <section id="links">
                <a href="@SettingsService.GetSetting("backupStream")" target="_blank">
                    <i class="fa-solid fa-wheelchair-move"></i>
                    Резервная трансляция
                </a>
                <a href="@SettingsService.GetSetting("supportLink")" target="_blank">
                    <i class="fa-brands fa-telegram"></i>
                    Поддержка
                </a>
            </section>
        }
        else
        {
            <h2>Оплатите доступ, чтобы смотреть трансляцию.</h2>
            <a href="account" role="button">
                <i class="fa-solid fa-file-lines"></i> 
                Инструкция
            </a>
        }
    }
    else
    {
        <h2>Авторизуйтесь, чтобы получить доступ к этой странице.</h2>
        <a href="login" role="button">
            <i class="fa-brands fa-telegram"></i>
            Войти через Telegram
        </a>
    }
    <hr>
    <Schedule/>
}
else
{
    <h2>Загрузка...</h2>
}

@code
{
    [CascadingParameter (Name = "IsConnected")]
    private bool IsConnected { get; set; }
    
    [CascadingParameter (Name = "IsAuthorized")]
    private bool IsAuthorized { get; set; }

    [CascadingParameter(Name = "User")]
    private User? User { get; set; }

    protected override void OnInitialized()
    {
        if (SettingsService.GetSetting("test") == "true")
        {
            Nav.NavigateTo("test");
        }
    }
}
