@page "/Live"

<PageTitle>watchF1 - Трансляция</PageTitle>
<head>
    <link rel="stylesheet" href="css/live/live.css">
</head>

<div id="page__player">
    <iframe src="https://vk.com/video_ext.php?oid=-212511564&id=456239038&hash=593f18b8f5ab60ac&hd=1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
</div>
