@page "/Test"
@using F1Project.Data.Database.Services
@inject NavigationManager Nav
@inject SettingService Settings

<PageTitle>watchF1 - Тестовая трансляция</PageTitle>

<VideoPlayer Live Title="@Settings.Get("liveTitle").Value"/>
<section id="links">
    <a href="@Settings.Get("supportLink").Value" target="_blank">
        <i class="fa-brands fa-telegram"></i>
        Поддержка
    </a>
</section>

@code {
    protected override void OnInitialized()
    {
        if (Settings.Get("test").Value != "true")
        {
            Nav.NavigateTo("live");
        }
    }
}
