@page "/Videos/{*path}"
@using F1Project.Data
@inject VideoService VidServ

<PageTitle>watchF1 - Видео</PageTitle>
<head>
    <link rel="stylesheet" href="css/videos/videos.css">
</head>

@if (SettingsService.GetSetting("live") != "true")
{
    <section id="videos-list">
        @foreach(var video in _videos.Where(video => !string.IsNullOrWhiteSpace(video.Id)))
        {
            <a href="watch/@video.Id">
                <img src="@video.Preview" alt=""><br>
                <h2>@video.Title</h2>
                <br>
            </a>
        }
    </section> 
}
else
{
    <h2>В данный момент проводится трансляция, записи временно недоступны. Зайдите позже.</h2>
    <a href="live" role="button">
        <i class="fa-solid fa-circle-play"></i>
        Трансляция
    </a>
}

@code
{
    [Parameter]
    public string? Path { get; set; }
    
    private HashSet<Video> _videos = null!;

    private void UpdateVideos(VideoService.SelectionOptions option, string value)
    {
        _videos = VideoService.GetVideosBy(option, value).Reverse().ToHashSet();
    }
    
    protected override void OnParametersSet()
    {
        UpdateVideos(VideoService.SelectionOptions.Path, Path ?? VidServ.DefaultPath);
    }
}
