@page "/Videos"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@inject VideoService VideoServ

<PageTitle>watchF1 - Видео</PageTitle>

<main>
    <FilterForm T="Video" ExcludedProperties="FilterExcluded" OrderedProperties="FilterOrdered"/>
    <section class="video-list">
        <VideoList List="@VideoList" />
    </section>
</main>

@code
{
    private List<Video> VideoList { get; set; } = new();

    private string[] FilterExcluded { get; } = {"Id", "File", "Title", "Preview"};

    private string[] FilterOrdered { get; } = {"Championship", "Season"};
    
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Championship { get; set; }
    
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Season { get; set; }
    
    [Parameter]
    [SupplyParameterFromQuery]
    public string? GrandPrix { get; set; }
    
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Type { get; set; }

    private void UpdateVideos()
    {
        VideoList = VideoServ.Get();
        VideoList.Reverse();
    }
    
    private void Filter()
    {
        var filterOptions = GetType().GetProperties().TakeWhile(property => property.GetValue(this) != null);
        
    }
    
    protected override void OnParametersSet()
    {
        UpdateVideos();
        
    }
}
