.video-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

section[role=navigation] {
    margin-top: 1em;
    text-align: center;
}
section[role=navigation] a {
    margin: 0 .5em;
    color: #FCEEEF;
    text-decoration: underline dotted;
}
@media (hover: hover) {
    section[role=navigation] a:hover {
        text-decoration: underline;
    }
}
section[role=navigation] a.active {
    text-decoration: underline #DE363D;
}

@media screen and (orientation: landscape) {
    .video-list {
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 1%;
        row-gap: 1em;
    }
    
    ::deep .video-list a {
        width: 19.2%;
        background-color: #262626;
        padding: .25em;
    }
}
