@page "/Watch"
@using F1Project.Data
@using F1Project.Models
@inject NavigationManager Nav
@inject WatchF1Context DbContext

<HeadContent>
    <meta name="description" content="Смотрите запись @Video!.Title онлайн или скачайте бесплатно на watchF1">
</HeadContent>

<div class="left">
    <VideoPlayer Video="Video"/>
    <hr>
    <section class="other-videos" data-nosnippet>
        <h2>Другие видео:</h2>
        <VideoList List="@OtherVideos!.Where(otherVideo => otherVideo.Id != Video!.Id).Take(4)"/>
    </section>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "v")]
    public string? Id { get; set; }

    private Video? Video { get; set; }

    private List<Video>? OtherVideos { get; set; }
    private readonly Random _random = new();

    protected override void OnParametersSet()
    {
        if (Id == null)
        {
            Nav.NavigateTo("videos");
        }
        try
        {
            Video = DbContext.Videos
                .Find(Id);

            OtherVideos = DbContext.Videos
                .Where(v => v.GrandPrix == Video!.GrandPrix)
                .OrderBy(_ => _random.Next())
                .ToList();
        }
        catch
        {
            Nav.NavigateTo("videos");
        }
    }
}