@page "/Watch"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@inject NavigationManager Nav
@inject VideoService VideoServ

<HeadContent>
    <meta name="description" content="Смотрите запись @Video.Title или скачайте бесплатно на watchF1">
</HeadContent>

<div class="left">
    <VideoPlayer Video="Video"/>
    <hr>
    <section class="other-videos" data-nosnippet>
        <h2>Другие видео:</h2>
        <VideoList List="@OtherVideos.Where(otherVideo => otherVideo.Id != Video.Id).Take(4)"/>
    </section>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "v")]
    public string? Id { get; set; }

    private Video Video { get; set; } = null!;

    private List<Video> OtherVideos { get; set; } = null!;
    private readonly Random _random = new();

    protected override void OnParametersSet()
    {
        if (Id == null)
        {
            Nav.NavigateTo("videos");
        }
        try
        {
            Video = VideoServ.Get(Id ?? "");
            OtherVideos = VideoServ.GetBy("GrandPrix", Video.GrandPrix);
            OtherVideos = OtherVideos.OrderBy(_ => _random.Next()).ToList();
        }
        catch
        {
            Nav.NavigateTo("videos");
        }
    }
}