@page "/Watch"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@inject NavigationManager Nav
@inject VideoService VideoServ

<div class="left">
    <VideoPlayer Video="Video"/>
    <hr>
    <section class="other-videos">
        <h2>Другие видео:</h2>
        <VideoList List="@OtherVideos.Where(otherVideo => otherVideo.Id != Video.Id).TakeLast(4).Reverse()"/>
    </section>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "v")]
    public string? Id { get; set; }

    private Video Video { get; set; } = null!;

    private List<Video> OtherVideos { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Id == null)
        {
            Nav.NavigateTo("videos");
        }
        try
        {
            Video = VideoServ.Get(Id ?? "");
            OtherVideos = VideoServ.GetBy("GrandPrix", Video.GrandPrix);
        }
        catch
        {
            Nav.NavigateTo("videos");
        }
    }
}