@using F1Project.Data

<section id="video">
    <div id="player">
        <iframe src="@Server" allow="fullscreen"></iframe>  
    </div>
    <div class="video-info">
        <h2>@SettingsService.GetSetting("liveTitle")</h2>
    </div>
</section>

@code
{
    [Parameter]
    public string Server { get; set; } = null!;
    
    protected override void OnInitialized()
    {
        var servers = ServerService.GetServers();
        try
        {
            Server = servers.Single();
        }
        catch
        {
            var random = new Random();
            var index = random.Next(servers.Count);
            Server = servers[index];
        }
    }
}
