@inherits LayoutComponentBase

<PageTitle>watchF1</PageTitle>
<head>
    <link rel="stylesheet" href="css/layout/reset.css"/>
    <link rel="stylesheet" href="css/layout/layout.css">
</head>

<header>
    <h1><a href="">watch<span>F1</span></a></h1>
</header>
<main>
    @Body
</main>
<footer>
    <NavMenu/>
</footer>
