@using F1Project.Data.Database.Services
@inject SettingService Settings

@if (Links != null)
{
    <section class="link-buttons">
        @foreach (var link in Links)
        {
            switch (link)
            {
                case "Support":
                    <a href="@Settings.Get("supportLink").Value" target="_blank" role="button">
                        <i class="fa-brands fa-telegram"></i>
                        Поддержка
                    </a>
                    break;
                case "Donate":
                    <a class="donate" href="@Settings.Get("capustaLink").Value" target="_blank" role="button">
                        <i class="fa-solid fa-ruble-sign"></i>
                        Донат
                    </a>
                    <a class="donate" href="@Settings.Get("donationLink").Value" target="_blank" role="button">
                        <i class="fa-solid fa-dollar-sign"></i>
                        Донат
                    </a>
                    break;
                case "Login":
                    <a href="login" role="button">
                        <i class="fa-brands fa-telegram"></i>
                        Войти через Telegram
                    </a>
                    break;
                case "Manual":
                    <a href="account" role="button">
                        <i class="fa-solid fa-circle-play"></i>
                        Получить доступ
                    </a>
                    break;
                case "BackupLive":
                    <a href="@Settings.Get("backupStream").Value" target="_blank" role="button">
                        <i class="fa-solid fa-wheelchair-move"></i>
                        Резервная трансляция
                    </a>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    </section>
}

@code {
    [Parameter]
    public string[]? Links { get; set; }
}