@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Text
@using F1Project.Data.Options
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<LinksOptions> Links

<section class="manual">
    <p>
        Это страница вашей учётной записи, 
        которая непосредственно связана с вашим аккаунтом в Telegram. 
        В данный момент здесь можно просто посмотреть и скопировать свой уникальный ID,
        но в будущем функционал расширится!
    </p>
    <p>
        В случае возникновения сложностей с сайтом обращайтесь в 
        <a href="@Links.CurrentValue.SupportLink" target="_blank">поддержку</a>.
    </p>
</section>

@code {
    
}