@using F1Project.Data.Database.Services
@inject SettingService Settings

<section class="schedule">
    <h3>@Settings.Get("scheduleTitle").Value</h3>
    <ol>
        @foreach (var day in Settings.Get("schedule").Value.Split(" / "))
        {
            <br>
            <li>
                @day.Split(" [] ")[0]
                <br><br>
                <ol>
                    @foreach (var livestream in day.Split(" [] ")[1].Split(" , "))
                    {
                        <li>
                            @livestream
                        </li>
                    } 
                </ol>
            </li>
        }
    </ol>
</section>
