#player {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: .5em;
}

#player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

a {
    cursor: pointer;
    font-size: 1.5em;
    color: #FCEEEF !important;
}
