@using F1Project.Data.Database.Types
@inject IHostEnvironment Environment

@foreach(var video in List.Where(video => !string.IsNullOrWhiteSpace(video.Id)))
{
    <a href="watch?v=@video.Id">
        <img src="@video.Preview(Storage)" 
             alt=""/>
        @video.Title
    </a>
}

@code {
    [Parameter]
    public IEnumerable<Video> List { get; set; } = null!;
    
    private string Storage => Environment.IsDevelopment() ? "./wwwroot/storage/" : "/home/anton/storage/";
}