@use "../components";

#video {
  h2 {
    @extend %header;
  }
  
  a {
    @extend %button;
    font-size: larger;
    cursor: pointer;
  }
  @media screen and (orientation: landscape) {
    width: 80%;
  }
}

#video-info {
  display: flex;
  justify-content: space-between;
  
  h2 {
    width: 80%;
  }
  a {
    padding: 0.35em;
  }
  p {
    display: none;
    @media screen and (min-width: 768px) {
      width: initial;
      display: initial;
    }
  }
}

hr {
  width: 100%;
  @media screen and (orientation: landscape) {
    display: none;
  }
}

#other-videos {
  h2 {
    @extend %header;
  }
  a {
    @extend %video;
  }
  @media screen and (orientation: landscape) {
    width: 18%;
  }
}